.H-photo {
  width: 33.33vw;
  max-width: 33.33vw;
  max-height: 50vh;
  margin: 0%;
  padding: 0%;
  float: left;
}
.V-photo {
  width: 33.33vw;
  max-width: 33.33vw;
  max-height: 50vh;
  margin: 0%;
  padding: 0%;
  float: left;
}
